* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

.mainbody {
     height: auto;
     width: 100%;
}

.header {
     height: auto;
     width: 100%;
     background: aliceblue;
     padding: 20px 30px;
}

.header img {
     width: 120px;
}

.header p {
     float: right;
     margin-right: 100px;
     font-size: 30px;
     font-weight: bold;
}

.menu {
     height: auto;
     width: 100%;
     background: green;
     padding: 8px 16px;
     text-align: right;
}

.menu a {
     text-decoration: none;
     font-size: 20px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: black;
     padding: 8px 16px;
}

.menu a:hover {
     background: black;
     color: white;
}

.inputButton {
     height: 5%;
}

.slideshow-container {
     width: 100%;
}

.slider {
     width: 100%;
     /* background-color: red; */
     /* margin-top: 10%; */
     /* position: relative; */
}

.banner-content {
     position: absolute;
     top: 80%;
     text-align: center;
     width: 100%;
     color: white;
}
.para {
     margin-top: 50;
     margin-bottom: 50;
     margin-left: 110;
     margin-right: 110;
     text-align: center;
     width: auto;
}

.center {
     height: 400px;
     width: 100%;
     margin-top: 10px;
}

.left {
     height: 400px;
     width: 30%;
     float: left;
     background: white;
}

.right {
     height: 400px;
     width: 70%;
     float: left;
     background: silver;
     text-align: justify;
     padding: 10px;
}
.center1 {
     height: 400px;
     width: 100%;
     margin-top: 50;
}

.left1 {
     height: 380px;
     width: 70%;
     float: left;
     background: lavender;
     text-align: justify;
     padding: 10px;    
}

.right1 {
     width: 30%;
     float: left;
     background: white;
}

.left ul {
     list-style: none;
}

.left li {
     background: white;
     text-align: center;
     padding: 8px 0px;
     margin: 10px;
}

.left li:hover {
     background: black;
     color: white;
}

.right img {
     float: left;
}

.footer {
     height: 80px;
     width: 100%;
     background: black;
     text-align: center;
     padding: 30px;
     font-size: 20px;
     color: white;
}

.banner-content h1 {
     color: white;
}

form {
     text-align: right;
}

.myDiv {
     /* border: 5px outset pink; */
     background-color: white;
     /* text-align: center;  */
     height: 450px;
     width: 100%;
     /* flex-direction: column; */
     margin-top: 50;
     margin-bottom: 50;
     display: inline-block;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     padding: 1%;
}

#col-rev {
     flex-direction: row;
}

.myText {
     height: 45px;
     width: 100%;
     /* background-color: green; */

}

.myTextTwo {
     color: black;
     font-size: 20px;
     text-align: left;
     margin-top: 8%;
     margin-left: 15%;
}

.myTextThree {
     height: 100px;
     width: 100%;
     /* background-color: orange; */
}

.myTextFour {
     color: gray;
     font-size: 15px;
     text-align: left;
     margin-top: 10%;
     margin-left: 15%;
}

.myTextFive {
     color: blue;
     font-size: 15px;
     text-align: left;
     margin-top: 8%;
     margin-left: 15%;
}

.myDivOne {
     /* border: 5px outset pink; */
     background-color: white;
     /* text-align: center;  */
     height: 415px;
     width: 23%;
     /* flex-direction: column; */
     display: inline-block;
     display: flex;
     border-style: solid;
     border-width: 1px;
     border-color: gray;
}

#col-revOne {
     flex-direction: column;
}

.myImg {
     height: 180px;
     width: 100%;
}

.myDivTwo {
     /* border: 5px outset pink; */
     background-color: green;
     /* text-align: center;  */
     height: 350px;
     width: 23%;
     /* flex-direction: column; */
     display: inline-block;
     display: flex;


}

.myDivThree {
     /* border: 5px outset pink; */
     background-color: orange;
     /* text-align: center;  */
     height: 350px;
     width: 23%;
     /* flex-direction: column; */
     display: inline-block;
     display: flex;


}

.myDivFour {
     /* border: 5px outset pink; */
     background-color: pink;
     /* text-align: center;  */
     height: 350px;
     width: 23%;
     /* flex-direction: column; */
     display: inline-block;
     display: flex;


}
.lastImg{
     width: 100%;
     height: 400px;
     background-color: blanchedalmond;
     display: flex; 
}
.col-lastImg {
     flex-direction: row; 
}
.Topics{
     display: flex;  
     width: 100%;
     height: 400px;
     background-color: blanchedalmond;
}
